<div class="item w2 lockAspect" id="item_image_upload"> 
	<i class="icon-cancel-circled"></i>
	<div><strong> {{ imageName }} </strong></div>
	<img src="{{ imagePath }}"></img>
	<div> Source: dummy source, Author: Jane Doe, Altitude: 6000ft </div>
	<a href="javascript:moreInfoView('IMG_2457_jzgbwZI.JPG');"> More Info </a>
</div>