<div class="item w3 lockAspect" id="item_more_info">
	<i class="icon-cancel-circled"></i>
	<div><strong> {{ imageName }} </strong></div>
	<form id="moreInfoForm" enctype="multipart/form-data" method="post">
		<div class="formLayout">
			<label>Source</label>
			<select class="source">
				<option value="dummy1"> dummy1 </option>
				<option value="dummy2"> dummy2 </option>
				<option value="dummy3"> dummy3 </option>
			</select>
			<br>
			<label>Location</label>
			<select class="location">
				<option value="dummy1"> dummy1 </option>
				<option value="dummy2"> dummy2 </option>
				<option value="dummy3"> dummy3 </option>
			</select>
			<br>
			<label>Latitude</label>
			<input class="latitude"></input>
			<br>
			<label>Longitude</label>
			<input class="longitude"></input>
			<br>
			<label>Altitude</label>
			<input class="altitude"></input>
			<br>
			<label>Author></label>
			<select class="author">
				<option value="dummy1"> dummy1 </option>
				<option value="dummy2"> dummy2 </option>
				<option value="dummy3"> dummy3 </option>
			</select>
			<br>
			<label class="description"></label>
			<textarea id="description"></textarea>
			<br>
			<input type="submit">
		</div>
	</form>
</div>