#image-drop-zone {
	min-height: 250px;
}

img .display_image {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 4px 4px 2px #888;
}

br
{
    clear: left;
}

#image_view {
	float: left;	
}
 
#more_info_view {
	margin-top: 10px;
	display:none;
} 

.summary {
	display: inline-block;
	padding-right: 15px;
}

.summary_label {
	display: block;
	font-weight: bold;
}

.image-wrapper {
    display:inline-block;
    padding: 5px;
}

.prev-button {
	display:inline-block;
}

.next-button {
	display:inline-block;
}

.image-name {
	display: inline-block;
}

.error-message {
	color: red;
}

.success-message {
	color: green;
}

.more-files-enqueued-icon {
	background-color: #efefef;
}

.num-files-enqueued-text {
    position: absolute;
    height: 16px;
    top: 50%;
    left: 20%;
    margin-top: -8px;
    width: 80px;
}

.upload-error {
	padding-top: 10px;
}

