.item { width: 100%; 
		padding-left:10px;
    	padding-right:10px;
    	padding-top:5px;
    	background:#CACACA; 
    	padding-bottom:20px; 
    	margin-bottom:20px; 
    	border-width:2px; 
    	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    	}
    	
.item.w2 { width: 49%; 
    	 }


.item.w3 { width: 30%; 
    	 }


img .display_image {
	max-width: 100%;
	max-height: 100%;
	box-shadow: 4px 4px 2px #888;
}

br
{
    clear: left;
}

#map {
	padding-bottom: 50px;
}

.icon-key {
    display:block;
    position:absolute;
    float: right;
    top:10px;
    right:0px;	
	color: silver;
}

.icon-cancel-circled {
    display:block;
    position:absolute;
    float: right;
    top:10px;
    right:0px;
}

#image_view {
	float: left;	
}

#more_info_view {
	margin-top: 10px;
	display:none;
}

ul li {
	display: inline-block;
	padding-right: 15px;
}

ul li label {
	display: block;
	font-weight: bold;
}

.image-wrapper {
    display:inline-block;
    padding: 5px;
}

.prev-button {
	display:inline-block;
}

.next-button {
	display:inline-block;
}

.image-name {
	display: inline-block;
}

.error-message {
	color: red;
}

.success-message {
	color: green;
}

.more-files-enqueued-icon {
	background-color: #efefef;
}

.num-files-enqueued-text {
    position: absolute;
    height: 16px;
    top: 50%;
    left: 10%;
    margin-top: -8px;
    width: 80px;
}
