{% extends 'dashboard_base.html' %}
{% load url from future %}

{% block sitemenu-content-secondary %}
	{% include "image_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_image/css/xgds_image.css"></link>
 {% endblock cssExtras %}


{% block jsInitPreApp %}
	// initialize global javascript variables
	<!--  parse image json -->
    var imageSetsJson = {{ imageSetsJson|safe }};
    var STATIC_URL = {{ STATIC_URL }};
    var imageSetsArray = []; // stores JSON objects
    $(imageSetsJson).each(function() {
    	imageSetsArray.push(JSON.parse(this)); // parse json string
    });
    <!-- set vars -->
    var updateImageUrl = "{% url 'xgds_update_image_info' %}";
    var deleteImagesUrl = "{% url 'xgds_delete_images' %}";
    var aoColumns = [			   {"width": "20%", "mRender": function(data, type, full) {
	                            	   return "<img src='" + full['thumbnail_image_url'] + "'></img>"
	                               }},
	                               {"mRender":function(data, type, full){
	                            	   var imageName = full['name'];
	                            	   var jsonString = JSON.stringify(full);
	                                   return "<a onclick='constructImageView(" + jsonString + ")'>"+ imageName +"</a>";
	                               }},
	                               {"mData": "camera_name"},
	                               {"mData": "creation_time"},
	                               {"mData": "lat"},
	                               {"mData": "lon"},
	                               {"mData": "altitude"},
	                               {"mData": "author_name"},
	];
	setupTable('item_image_table', 'image_table', imageSetsArray, aoColumns);
	
{% endblock jsInitPreApp %}

{% block otherJSInit %}
	app.vent.trigger("mapSearch:found", imageSetsArray);
{% endblock otherJSInit %}

{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageReview.js"></script>
	<!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}


{% block firstPackery %}
<!-- Image list table -->
<div class='item w2 freeAspect' id='item_image_table' data-isStamped="false">
	<i class="icon-lock-open pinDiv"></i>
	<div class="ttip" data-tooltip="remove selected images"> <i class="icon-trash" id="delete_images"></i> </div>
	<!-- <div id="image_table_div">  -->
		<table cellpadding="0" cellspacing="0" border="0"  id="image_table">
			<thead class="table_header">
				<tr>
					<th></th>
					<th>Name</th>
				    <th>Source</th>
				    <th>Creation Time</th>
				    <th>Latitude</th>
				    <th>Longitude</th>
				    <th>Altitude</th>
				    <th>Author</th>
			    </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
</div>
{% endblock firstPackery %}

{% block lastPackery %}
{% include 'xgds_notes2/notes_input_include.html' %}
{% endblock lastPackery %}
		
