{% extends 'xgds_image/imageDashboardBase.html' %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.css"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/dropzone.js'></script>
	<script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageUpload.js"></script>
{% endblock scripts %}


{% block preMap %}
	{{ block.super }}
	<div class="grid-stack-item" id='item_image_upload'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2">
            <div class="grid-stack-item-content">
		<div class="error-message upload-error"></div>
		<i class="icon-lock-open pinDiv"></i><br/>
		<!-- Dropzone image upload -->
		
		<form class="dropzone" id="image-drop-zone" action="{% url 'xgds_save_image' %}" method="post" 
		enctype="multipart/form-data">
		<table>
    	{{ form.as_table }}
    	</table>
		{% csrf_token %}
		</form>
		<button id="submit-all" class="small">
			Import
		</button>
	</div>
</div>
{% endblock preMap %}
