{% extends 'xgds_image/imageDashboardBase.html' %}

{% block otherJSInit %}
	if (imageSetsArray.length > 0){
		constructImageView(imageSetsArray[0]);
		hideImageNextPrev();
	}
{% endblock otherJSInit %}

{% block packery %}
	<div id="container"> 
		
		{% block firstPackery %}
		{% endblock firstPackery %}
		
		<div id="map" class="item w2 freeAspect startPinned" data-isStamped="false">
			<i class="icon-lock pinDiv"></i>
		</div>
		<div id="layers" hidden></div>
	</div> <!--  js packery container -->
{% endblock packery %}