{% extends 'xgds_image/imageDashboardBase.html' %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.css"></link>
 {% endblock cssExtras %}
 {% block siteSection %}Import {{settings.XGDS_IMAGE_IMAGE_SET_MONIKER}}{% endblock %}


{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/dropzone.js'></script>
	<script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageUpload.js"></script>
{% endblock scripts %}


{% block preMap %}
	{{ block.super }}
	<div class="grid-stack-item" id='item_image_upload'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2">
            <div class="grid-stack-item-content">
		<div class="error-message upload-error"></div>
		<i class="fa fa-unlock-alt pinDiv"></i><br/>
		<!-- Dropzone image upload -->
		
		<form class="dropzone" id="image-drop-zone" action="{% url 'xgds_save_image' %}" method="post" 
		enctype="multipart/form-data">
		<table>
    	{{ form.as_table }}
    	</table>
		{% csrf_token %}
		</form>
		<button id="submit-all" class="btn btn-primary">
			Import
		</button>
	</div>
</div>

<div id="view-gridstack-item" class="grid-stack-item" 
		data-gs-x="3" data-gs-y="0"
        data-gs-width="3" data-gs-height="3" >
        <div class="grid-stack-item-content" id="view-gridstack-item-content" >
			<i class="fa fa-unlock-alt pinDiv warning"></i>
			<i class="fa fa-window-close fa-lg"></i>
			<a href="#" id="view-new-window-target" target="_blank" class="btn btn-primary"><i class="fa fa-window-restore fa-fw mr-1" aria-hidden="true"></i>New Window</a>
			
			<div class="default btn btn-primary icon-right fa fa-window-restore" id="new-window-button">
				<a href="#" id="view-new-window-target" target="_blank">New Window</a>
			</div>
			<button class="info btn btn-primary prev-button" id="prev_button"><i class="fa fa-backward"></i></button>
			<strong id="nameBlock"></strong>
			<button class="info btn btn-primary next-button" id="next_button"><i class="fa fa-forward"></i></button>
			<div id="viewDivPhoto">
			</div>
			<div id="notesDivPhoto">
			</div>
		</div>
</div> 
{% endblock preMap %}
