{% extends 'image_base.html' %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.css"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	{% block myscripts %}
<!-- 	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.js'></script> -->
	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/dropzone.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}geocamUtil/js/datatable_helpers.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageUpload.js"></script>
    {% endblock myscripts %}
{% endblock %}

{% block jsInit %}
{% endblock %}


{% block content %}

<form class="dropzone" id="image-drop-zone" action="{% url 'xgds_dropzone_image' %}" method="post" enctype="multipart/form-data">
</form>
<button id="submit-all">
	Submit all files
</button>


<div id="image_table"> 
<table cellpadding="0" cellspacing="0" border="0"  id="imageTable">
<thead class="table_header">
	<tr>
		<th>Name</th>
	    <th>Timestamp</th>
	    <th>Source</th>
	    <th>Latitude</th>
	    <th>Longitude</th>
	    <th>Altitude</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
</div>

{% endblock content %}