{% extends 'xgds_image/imageDashboardBase.html' %}

{% block scripts %}
{{block.super}}
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageSearch.js"></script>
{% endblock scripts %}

{% block jsInit %}
{{ block.super }}
$("#item_image_search").submit(function(event) {
	doSearch(event);
});
{% endblock jsInit %}

{% block otherJSInit %}
	matchWidth('item_image_search','map');
    pinItem($("#map"));
{% endblock otherJSInit %}

{% block firstPackery %}
		<div class='item auto lockAspect noresize' id='item_image_search'>
			<i class="icon-lock pinDiv"></i><br/>
			<form  id="form-AbstractImageSet" action="" method="post">
				{{ formset.management_form }}
				{% csrf_token %}
				{% for form in formset %}
				<table>
				{{ form.as_table }}
				</table>
				{% endfor %}
				<input type="submit" id="doSearch" class="small" value="Search"/> &nbsp;
				<span class="alert" id="message"></span>
			</form>
		</div>
{% endblock firstPackery %}
