{% extends 'dashboard_base.html' %}

{% block sitemenu-content-secondary %}
	{% include "image_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    {% include "xgds_notes2/NoteCSS.html" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_image/css/xgds_image.css"></link>
 {% endblock cssExtras %}


{% block jsInitPreApp %}
	// initialize global javascript variables
	<!--  parse image json -->
    var imageSetsJson = {{ imageSetsJson|safe }};
    var STATIC_URL = {{ STATIC_URL }};
    var imageSetsArray = []; // stores JSON objects
    $(imageSetsJson).each(function() {
    	imageSetsArray.push(JSON.parse(this)); // parse json string
    });
    <!-- set vars -->
    var updateImageUrl = "{% url 'xgds_update_image_info' %}";
    var deleteImagesUrl = "{% url 'xgds_delete_images' %}";
    var aoColumns = [			   {"width": "20%", "mRender": function(data, type, full) {
	                            	   return "<img src='" + full['thumbnail_image_url'] + "'></img>"
	                               }},
	                               {"mRender":function(data, type, full){
	                            	   var imageName = full['name'];
	                            	   var jsonString = JSON.stringify(full);
	                                   return "<a onclick='constructImageView(" + jsonString + ")'>"+ imageName +"</a>";
	                               }},
	                               {"mData": "camera_name"},
	                               {"mData": "acquisition_time",
	                               "mRender": function ( data, type, row ) {
                                                   return getLocalTimeString(data, row.acquisition_timezone);
                                               }
                                   },
	                               {"mData": "lat"},
	                               {"mData": "lon"},
	                               {"mData": "altitude"},
	                               {"mData": "author"},
	];
	setupTable('item_image_table', 'image_table', imageSetsArray, aoColumns);
	setupTableSelection();
{% endblock jsInitPreApp %}

{% block otherJSInit %}
	showOnMap(imageSetsArray);
{% endblock otherJSInit %}

{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageReview.js"></script>
    <!--- openseadragon: image pan zoom library -->
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}


{% block preMap %}
<!-- Image list table -->
<div class="grid-stack-item" id='item_image_table'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2">
    <div class="grid-stack-item-content">
	<i class="icon-lock-open pinDiv"></i>
	<div class="ttip" data-tooltip="remove selected images"> <i class="icon-trash" id="delete_images"></i> </div>
		<table cellpadding="0" cellspacing="0" border="0"  id="image_table">
			<thead class="table_header">
				<tr>
					<th></th>
					<th>Name</th>
				    <th>Source</th>
				    <th>Acquisition Time</th>
				    <th>Latitude</th>
				    <th>Longitude</th>
				    <th>Altitude</th>
				    <th>Author</th>
			    </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
</div>
</div>
{% endblock preMap %}

{% block postMap %}
{% include 'xgds_notes2/notes_input_include.html' %}
{% include 'xgds_notes2/notes_table_small.html' %}
{% endblock postMap %}
		
