{% extends 'xgds_image/imageDashboardBase.html' %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.css"></link>
 {% endblock cssExtras %}

{% block otherJSInit %}
	matchWidth('item_image_upload','map');
    pinItem($("#map"));
{% endblock otherJSInit %}


{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/dropzone.js'></script>
	<script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageUpload.js"></script>
{% endblock scripts %}


{% block firstPackery %}
	
	<div class='item w2 lockAspect' id='item_image_upload' data-isStamped="false">
		<div class="error-message upload-error"></div>
		<i class="icon-lock pinDiv"></i><br/>
		<!-- Dropzone image upload -->
		
		<form class="dropzone" id="image-drop-zone" action="{% url 'xgds_save_image' %}" method="post" 
		enctype="multipart/form-data">
		<table>
    	{{ form.as_table }}
    	</table>
		{% csrf_token %}
		</form>
		<button id="submit-all" class="small">
			Import
		</button>
	</div>
	{{ block.super }}
{% endblock firstPackery %}
