{% extends 'xgds_image/imageDashboardBase.html' %}

{% block scripts %}
{{block.super}}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageSearch.js"></script>
{% endblock scripts %}

{% block jsInit %}
{{ block.super }}
$("#item_image_search").submit(function(event) {
	doSearch(event);
});
{% endblock jsInit %}

{% block otherJSInit %}
	matchWidth('item_image_search','map');
{% endblock otherJSInit %}

{% block firstPackery %}
		<div class='item auto lockAspect noresize' id='item_image_search'>
			<i class="icon-lock-open pinDiv"></i><br/>
			<form  id="form-AbstractImageSet" action="" method="post">
				{{ formset.management_form }}
				{% csrf_token %}
				{% for form in formset %}
				
				<input type="hidden" name="{{form.prefix}}-{{form.deleted.name}}" id="{{form.deleted.auto_id}}" value="False">
				{{ form.deleted_operator.as_hidden }} 
				
				<table>
				  <tr>
				    <td style="text-align:right;"><label for="{{ form.name.auto_id }}">{{ form.name.label }}</label></td>
				    <td>{{ form.name_operator.as_hidden }}</td>
				    <td colspan=3>{{ form.name }}</td>
				  </tr>

				  <tr>
				    <td style="text-align:right;"><label for="{{ form.shortName.auto_id }}">{{ form.shortName.label }}</label></td>
				    <td>{{ form.shortName_operator.as_hidden }}</td>
				    <td colspan=3>{{ form.shortName }}</td>
				  </tr>

				  <tr>
				    <td style="text-align:right;"><label for="{{ form.camera.auto_id }}">{{ form.camera.label }}</label></td>
				    <td>{{ form.camera_operator.as_hidden }}</td>
				    <td colspan=3>{{ form.camera }}</td>
				  </tr>

				  <tr>
				    <td style="text-align:right;"><label for="{{ form.author.auto_id }}">{{ form.author.label }}</label></td>
				    <td>{{ form.author_operator.as_hidden }}</td>
				    <td colspan=3>{{ form.author }}</td>
				  </tr>

				  <tr>
				    <td style="text-align:right;"><label for="{{ form.acquisition_time_lo.auto_id }}">Acquisition Time</label></td>
				    <td>{{ form.acquisition_time_operator.as_hidden }}</td>
				    <td>{{ form.acquisition_time_lo }}</td>
				    <td><label for="{{ form.acquisition_time_lo.auto_id }}">up to</label></td>
				    <td>{{ form.acquisition_time_hi }}</td>
				  </tr>
				  
				  <tr>
				    <td style="text-align:right;"><label for="{{ form.creation_time_lo.auto_id }}">Creation Time</label></td>
				    <td>{{ form.creation_time_operator.as_hidden }}</td>
				    <td>{{ form.creation_time_lo }}</td>
				    <td><label for="{{ form.creation_time_lo.auto_id }}">up to</label></td>
				    <td>{{ form.creation_time_hi }}</td>
				  </tr>
				  
				  <tr>
				    <td style="text-align:right;"><label for="{{ form.description.auto_id }}">{{ form.description.label }}</label></td>
				    <td>{{ form.description_operator.as_hidden }}</td>
				    <td colspan=3>{{ form.description }}</td>
				  </tr>

				</table>
				
				{% endfor %}
				<input type="submit" id="doSearch" class="small" value="Search"/> &nbsp;
				<span class="alert" id="message"></span>
			</form>
		</div>
		{{ block.super }}
{% endblock firstPackery %}
