{% extends 'image_base.html' %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.css"></link>
 {% endblock cssExtras %}


{% block jsInit %}
{% endblock %}


{% block scripts %}
{{block.super}}
<!-- 	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.js'></script> -->
	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/dropzone.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}datatables/media/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}geocamUtil/js/datatable_helpers.js"></script>
    <script type="text/javascript">
    // set dropzoneUrl
    var dropzoneUrl = "{{ dropzoneImageUrl }}";
    // parse json
    var uploadedImages = {{ uploadedImages|safe }};
    var images = []; // stores JSON objects
    $(uploadedImages).each(function() {
    	images.push(JSON.parse(this)); // parse json string
    });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageUpload.js"></script>

{% endblock %}


{% block content %}

<form class="dropzone" id="image-drop-zone" action="{% url 'xgds_dropzone_image' %}" method="post" 
enctype="multipart/form-data">
{% csrf_token %}
</form>
<button id="submit-all">
	Submit all files
</button>

<div id="image_table_div"> 
<table cellpadding="0" cellspacing="0" border="0"  id="image_table">
<thead class="table_header">
	<tr>
		<th>Name</th>
	    <th>Timestamp</th>
	    <th>Source</th>
	    <th>Latitude</th>
	    <th>Longitude</th>
	    <th>Altitude</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
</div>

{% endblock content %}