{% extends 'xgds_image/imageDashboardBase.html' %}

{% block scripts %}
{{block.super}}
    <script type="text/javascript" src="{{ STATIC_URL }}xgds_image/js/imageSearch.js"></script>
{% endblock scripts %}


{% block firstPackery %}
		<div class='item w2 lockAspect' id='item_image_search'>
			<form  id="form-AbstractImageSet" action="" method="post">
				{{ formset.management_form }}
				{% csrf_token %}
				{% for form in formset %}
				<table>
				{{ form.as_table }}
				</table>
				{% endfor %}
				<button id="doSearch" class="small">Search</button>
			</form>
		</div>
{% endblock firstPackery %}
