{% extends 'xgds_image/imageDashboardBase.html' %}

{%  block scripts %}
{{  block.super }}
<script type="text/javascript" src='{{ EXTERNAL_URL }}openseadragon-annotations/dist/openseadragon-annotations.js'></script>
{%  endblock scripts %}

{%  block content %}
<h1>Emigre Sandbox</h1>
<div id="openseadragon1" style="width: 800px; height: 600px;"></div>
{%  endblock content  %}


    {%  block jsInit %}
    var prefixUrl = '/static/openseadragon/built-openseadragon/openseadragon/images/';
    var viewer = OpenSeadragon({
				id:            "openseadragon1",
				prefixUrl:     prefixUrl,
				showNavigator: true,
				gestureSettingsMouse:   {
					clickToZoom: false
				},
				clickToZoom: "false",
				tileSources:   [{
					Image:  {
						//Need to change [tile_format="jpg", image_quality=0.85,]
						//Plus any other changes in deepzoom.py we make
						xmlns: "http://schemas.microsoft.com/deepzoom/2009",
						Url: "../../../../data/images/spacePics/ISS044-E-1998_files/",
						TileSize: "128",
						Overlap: "2",
						Format: "png",
						ServerFormat: "Default",
						Size: {
							Width: "4928",
							Height: "3280",
						}
					}
				}],
			});
    viewer.initializeAnnotations();
    {% endblock jsInit  %}

